.card {
  min-width: 350px;
  flex: 0 1 30%;

  @media (max-width: 350px) {
    min-width: 330px;
  }

  position: relative;

  &__row {
    display: flex;
  }

  &__col {
    display: flex;
    flex-direction: column;

    padding-right: 48px;

    @media (max-width: 350px) {
      padding-right: 20px;
    }

    &:last-child {
      padding-right: 0;
    }
  }

  &__avatar {
    height: 100%;
    padding-right: 24px;
  }

  &__open-info {
    min-width: 16px;
    min-height: 16px;

    position: absolute;
    top: 5px;
    right: -5px;

    &:hover {
      cursor: pointer;
    }
  }

  &__modal {
    position: absolute;
    top: 40px;
    right: -175px;

    @media (max-width: 625px) {
      top: 62px;
      right: -3px;
    }

    min-width: 176px;
    min-height: 124px;
    background: $cardBgColor;

    border-radius: 8px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    opacity: 0;

    transition: opacity $cardModalTransition;

    &--show {
      opacity: 100;
    }
  }

  &__modal-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding: 9px 22px 9px;


    font-family: 'OpenSansSemibold', sans-serif;
    font-size: $fszCardShare5;
    line-height: 19px;

    transition: background $cardModalTransition;

    margin-bottom: 8px;

    &:last-child {
      margin-bottom: 0;
    }

    &:hover {
      background: $cardBgHoverColor;
      cursor: pointer;
    }

    &-img {
      display: flex;

      margin-right: 16px;
    }
  }

  &__name {
    font-family: 'MontserratRegular', sans-serif;
    font-size: $fszCardShare3;
    font-weight: 600;
    line-height: 26px;

    padding-bottom: 8px;
  }

  &__user-name {
    font-family: 'OpenSansRegular', sans-serif;
    font-size: $fszCardShare5;
    line-height: 20px;
    letter-spacing: -0.5px;

    padding-bottom: 16px;
  }

  &__edit-profile {
    display: flex;
    align-items: center;

    color: $colorCardShareLink;
    font-family: 'OpenSansRegular', sans-serif;
    font-size: $fszCardShare5;
    line-height: 20px;
    text-decoration: underline;

    &:before {
      content: '';
      display: inline-block;
      min-width: 20px;
      min-height: 20px;

      background-image: url('../images/card/card-edit-profile.svg');
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;

      margin-right: 8px;
    }
  }

  &__info {
    padding-bottom: 20px;
  }

  &__stats {
    font-family: 'OpenSansRegular', sans-serif;
    font-size: $fszCardShare5;
    line-height: 24px;
    text-align: center;
    color: $cardStatsColor;

    & span {
      font-family: 'OpenSansBold', sans-serif;
      font-size: $fszCardShare4;
      line-height: 24px;
      color: $cardStatsSpanColor;
    }

    padding-bottom: 24px;
  }

  &__description {
    font-family: 'OpenSansRegular', sans-serif;
    font-size: $fszCardShare5;
    line-height: 24px;
    color: $colorBody;

    @media (max-width: 625px) {
      text-align: justify;
    }
  }
}
