// body

$colorBgBody: #f7f9fc;
$colorBody: #3E3F58;

$fszBodySm: 12px;
$fszBodyMd: 16px;

// .header

$hdrFsz1: 16px;
$hdrFsz2: 14px;

$hdrBgColor: #fff;
$hdrNavItem: #8b8c9a;

$hdrTransirions: .6s;

// header__nav border-bottom

$hdrActiveGrtCol1: #FF974F;
$hdrActiveGrtCol2: #E32C75;

// card

$cardBgColor: #fff;
$cardBgHoverColor: #ECF1F8;
$cardStatsColor: #636363;
$cardStatsSpanColor: #3E3F58;

$cardModalTransition: .6s;

// posts

$togTxtColor: #4c4e5c;

// .card-share

$colorCardShare: #3E4056;
$colorCardShareLink: #F05D63;

$fszCardShare1: 36px;
$fszCardShare2: 30px;
$fszCardShare3: 24px;
$fszCardShare4: 18px;
$fszCardShare5: $fszBodyMd;
$fszCardShare6: 15px;
$fszCardShare7: 14px;

// .toggle-switch
$togglerBg1: #fff;
$togglerBg2: #ccc;
$togglerBg3: #ED5267;

$toggleTransition: .4s;
